<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      <link href="materialize.min.css" rel="stylesheet" type="text/css">
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>

   <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Timestamp Microservice API</a>
      </div>
    </nav>
          
    <h1></h1>
    <hr />
    <div class="container">
      <h3>Api Usage [GET]:</h3>
      <div class="collection">
      <a class="collection-item" href="api/2015-12-25">/api/2015-12-25</a>
      <a class="collection-item" href="api/1451001600000">/api/1451001600000</a>
      <a class="collection-item" href="api/">/api/{null}</a>
    </div>
      
      <h3>Json response:</h3>
      <p>
        <code>{
          "unix":1451001600000, 
          "utc":"Fri, 25 Dec 2015 00:00:00 GMT"
        }</code>
      </p>
    </div>
    <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright
      </div>
    </div>
    </footer>
    <script type="text/javascript" src="materialize.min.js"></script>
  </body>
</html>
